@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --screen: #282828;
    --primary: #E2C529;
    --white: #FFFFFF;
    --close: #B92A22;
    --button: #3B3B3B;
    --hover: #ffffff27;
    --volume-hover: #ffffffd9;
}

* {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.notification-container {
    position: fixed;
    right: 10px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
}

.notification {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--screen);
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    margin: 0.2rem;
}

.notification[hidden] {
    display: none;
}


.notification-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.notification-content .fromTitle {
    position: relative;
    top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
}

.notification-content .message {
    margin-left: 10px;
    color: var(--white);
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 25px;
    margin-right: 10px;
    word-wrap: break-word;
    max-width: 300px;
}

.pager-container {
    position: relative;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: end;
}

.pager-container[hidden] {
    display: none;
}

.pager {
    position: relative;
    z-index: 10;
    width: 370px;
    height: 533px;
}

#pager-user {
    position: relative;
    z-index: 40;
    bottom: 30.50vh;
    left: 15vw;
    font-size: 10px;
    font-weight: 500;
    max-width: 9.688rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--white);
}

#pager-user span {
    color: var(--primary);
    font-weight: 900;
}

#pager-volume-display {
    position: relative;
    z-index: 55;
    bottom: 33vh;
    left: 20.25vw;
    color: var(--primary);
    font-weight: bold;
    font-size: 8px;
}

#pager-volume {
    -webkit-appearance: none !important;
    appearance: none !important;
    background-color: transparent;
    opacity: 0.10;
    position: relative;
    z-index: 45;
    bottom: 38vh;
    left: 13.25vw;
    width: 2.5rem;
    height: 2.5rem;
}

#pager-volume::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    background: transparent;
    height:2.5rem;
    width:1rem;
    border-radius: 25%;
}



#pager-volume::-webkit-slider-thumb:hover {
    -webkit-appearance: none !important;
    appearance: none !important;
    background: var(--volume-hover);
    opacity: 1;
    cursor: pointer;
}



.pager-screen {
    position: relative;
    right: 13.75vw;
    bottom: 20vh;
    z-index: 20;
    background-color: var(--screen);
    width: 9.688rem;
    height: 7.375rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pager-form {
    position: relative;
    z-index: 30;
    width: 9.688rem;
    height: 7.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pager-form .sendToLabel {
    color: var(--primary);
    font-size: 8px;
    margin-bottom: 0.3rem;
}

.pager-form .messageLabel {
    color: var(--primary);
    font-size: 8px;
    margin-bottom: 0.3rem;
}

.pager-form select {
    width: 115px;
    height: fit-content;
    background-color: var(--screen);
    color: var(--primary);
    border: var(--primary) 0.25px solid;
    border-radius: 2px;
    font-size: 10px;
    margin-bottom: 0.3rem;
}

.pager-form select:focus {
    outline: none;
}

.pager-form textarea {
    width: 110px;
    height: 45px;
    background-color: transparent;
    color: var(--primary);
    border: var(--primary) 0.25px solid;
    border-radius: 2px;
    font-size: 10px;
    resize: none;
    margin-bottom: 0.3rem;
}

.validator {
    border: var(--close) 0.25px solid !important;
}

.pager-form textarea:focus {
    outline: none;
}

.pager-close {
    position: relative;
    z-index: 50;
    bottom: 14vh;
    right: 22vw;
    width: 35px;
    height: 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.pager-close:hover {
    background-color: var(--hover);
}

.pager-submit {
    position: relative;
    z-index: 50;
    bottom: 14vh;
    right: 17.25vw;
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

.pager-submit:hover {
    background-color: var(--hover);
}