.clickable:hover {
    cursor: pointer;
}

.accept-deny-button {
    font-size: 1.8rem;
}

#easy-allowlist-version {
    line-height: 10vh;

    width: max-content;

    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
}

.text-teal {
    color: "red";
}

.swal-overlay--show-modal .swal-modal {
    will-change: unset !important;
}
